{% extends 'layout.html' %}

{% block content %}

    <div class="container">

        <h4 style="margin-left: 45px">Delete this Playlist?</h4>
        <hr>
            <p style="margin-left: 45px">
                Name: {{ playlist.name.title() }}<br>
            </p>
        <br>

        <form action="{{ url_for('main.delete_playlist', playlist_id=playlist.id) }}" method="POST" style="margin-left: 45px">
            <button type="submit" class="btn btn-danger">delete</button>
        </form>

    </div>

{% endblock %}
