{% extends 'layout.html' %}

{% block content %}

    <div class="container">

        <h4>Video {{ movie.id }}</h4>
        <hr>
        <br>

        <table class="table table-bordered table-striped table-hover">
            <tr>
                <td>Movie Name : </td>
                <td>{{ movie.name }}</td>
            </tr>
            <tr>
                <td>File name : </td>
                <td>{{ movie.file_name }}</td>
            </tr>
            <tr>
                <td>Disk location : </td>
                <td>{{ movie.location }}</td>
            </tr>
            <tr>
                <td>Play count : </td>
                <td>{{ movie.play_count }}</td>
            </tr>

        </table>

        <a  href={{ url_for('main.movie_list') }}>
            <button  class="btn btn-default"  label="Back" name="Back">Back</button>
        </a>
{#        <a  href={{ url_for('main.edit_movie', movie_id=movie.id) }}>#}
{#            <button  class="btn btn-info"  label="Edit" name="Edit">Edit</button>#}
{#        </a>#}
        <a  href={{ url_for('main.delete_movie', movie_id=movie.id) }}>
            <button  class="btn btn-danger"  label="Delete" name="Delete">Delete</button>
        </a>
    </div>


{% endblock %}