{% extends 'layout.html' %}

{% block content %}

    <div class="container">

        <h4>Playlist {{ playlist.id }}</h4>
        <hr>
        <br>

        <table class="table table-bordered table-striped table-hover">
            <tr>
                <td>Playlist Name : </td>
                <td>{{ playlist.name }}</td>
            </tr>
            {% for movie in movies %}
                <tr>
                    <td></td>
                    <td>{{ movie.name }}</td>
                </tr>
            {% endfor %}


        </table>

        <a  href={{ url_for('main.playlist_list') }}>
            <button  class="btn btn-default"  label="Back" name="Back">Back</button>
        </a>
        <a  href={{ url_for('main.edit_playlist', playlist_id=playlist.id) }}>
            <button  class="btn btn-info"  label="Edit" name="Edit">Edit</button>
        </a>
        <a  href={{ url_for('main.delete_playlist', playlist_id=playlist.id) }}>
            <button  class="btn btn-danger"  label="Delete" name="Delete">Delete</button>
        </a>
    </div>


{% endblock %}
