{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        <h4 style="margin-left: 45px">Current Playlists</h4>
        <hr>
        <br>

        {% if playlists %}
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                {% for playlist in playlists %}

                    <tr>
                        <td>{{ playlist.id }}</td>
                        <td>{{ playlist.name }}</td>
                        <td>
                            <a href="{{ url_for('main.playlist_detail', playlist_id=playlist.id)}}" class="btn btn-primary a-btn-slide-text">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                <span><strong>View</strong></span>
                            </a>

                            <a href="{{ url_for('main.delete_playlist', playlist_id=playlist.id) }}" class="btn btn-danger a-btn-slide-text">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <span><strong>Delete</strong></span>
                            </a>

                        </td>
                    </tr>


                {% endfor %}
            </table>
        {% else %}
            <p>-- No Playlists Found --</p>
        {% endif %}
    </div>

{% endblock %}
